@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

//COLORS

//TEXT
$paleViolet: hsl(276, 100%, 81%); //(sub-heading at the top of the app UI)
$moderateViolet: hsl(276, 55%, 52%); //(chat on the left)
$desaturatedDarkViolet: hsl(271, 15%, 43%); //(chat on the right)
$grayishBlue: hsl(206, 6%, 79%); //(placeholder text)
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%); //(main heading)
$darkGrayishViolet: hsl(270, 7%, 64%); //(paragraph)

//GRADIENTS

$lightMagenta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);

//SECONDARY

$white: hsl(0, 0%, 100%);
$lightGrayishViolet: hsl(270, 20%, 96%); //(app background)
$veryDarkDesaturatedViolet: hsl(271, 36%, 24%); //(submit button background)
$veryLightMagenta: hsl(289, 100%, 72%); //(radio button outline)

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}

#main {
    width: 100%;
    min-height: 100vh;
    background-color: $lightGrayishViolet;
    position: relative;
}

#main .bg-shape {
    position: relative;
    left: -20%;
    z-index: 1;
    width: 70%;
    height: 420px;
    background: $lightViolet;
    border-bottom-right-radius: 40rem;
}

#main .phone {
    position: relative;
    bottom: 22rem;
    left: 50%;
    transform: translateX(-50%);
    width: 66%;
    height: 425px;
    border: 1px solid black;
    z-index: 2;
    background-color: $lightGrayishViolet;
    border: 10px solid $white;
    border-radius: 2rem;
    -webkit-box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 50px 15px rgba(0, 0, 0, 0.1);
}

#main .phone .phone__header {
    width: 100%;
    height: 57px;
    background: linear-gradient(to left, $lightMagenta, $lightViolet);
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

#main .phone .phone__header .phone__header__whitesound {
    width: 110px;
    height: 16px;
    background-color: $white;
    margin: 0 auto;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

#main .phone .phone__header .phone__header__user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: $white;
    height: 70%;
}

.arrow {
    border: 1px solid $white;
    border-width: 0 0 3px 3px;
    border-radius: 0.1rem;
    width: 8px;
    height: 8px;
    line-height: 0;
    font-size: 0;
    transform: scale(0.5, 1) rotate(45deg);
    cursor: pointer;
    margin-left: 0.5rem;
}

#main .phone .phone__header .phone__header__user .phone__header__user__image {
    background-image: url("/images/avatar.jpg");
    background-size: cover;
    width: 20px;
    height: 20px;
    border: 1px solid $white;
    border-radius: 100%;
    margin-left: 4px;
}

#main .phone .phone__header .phone__header__user .phone__header__user__samuel {
    display: flex;
    flex-direction: column;
    color: $white;
    margin-left: 12px;
}

#main .phone .phone__header .phone__header__user .phone__header__user__samuel p {
    margin: 0;
}

#main .phone .phone__header .phone__header__user .phone__header__user__samuel p:first-child {
    font-size: 0.6rem;
    font-weight: 500;
    margin-bottom: 2px;
}

#main .phone .phone__header .phone__header__user .phone__header__user__samuel p:last-child {
    font-size: 0.3rem;
    font-weight: 300;
}

.triple-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 12px;
    height: 12px;
}

.triple-dots div {
    width: 2px;
    height: 2px;
    margin-top: 1px;
    background-color: $white;
    border-radius: 100%;
    margin-left: 100px;
}

.first-message,
.second-message,
.fifth-message {
    width: 60%;
    height: 8%;
    border-radius: 0.75rem;
    border-bottom-left-radius: 0.25rem;
    background-color: #F0E4F4;
    padding: 0.25rem 0.5rem;
    margin-left: 8px;
    margin-top: 8px;
}

.fifth-message {
    margin-top: 8px;
    height: 9%;
}

.first-message p,
.second-message p,
.third-message p,
.fourth-message p,
.fifth-message p {
    margin: 0;
    font-size: 0.45rem;
    line-height: 10px;
}

.first-message p,
.second-message p,
.fifth-message p {
    color: $moderateViolet;
}

.dogs {
    margin-top: 8px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 40px;
}

.dogs .dog-1 {
    background-image: url("/images/dog-image-1.jpg");
}

.dogs .dog-2 {
    background-image: url("/images/dog-image-2.jpg");
}

.dogs .dog-3 {
    background-image: url("/images/dog-image-3.jpg");
}

.dogs .dog-1,
.dogs .dog-2,
.dogs .dog-3 {
    background-size: cover;
    width: 36px;
    height: 36px;
    border-radius: 0.5rem;
    margin-right: 6px;
}

.third-message-fullwidth,
.fourth-message-fullwidth {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.third-message,
.fourth-message {
    height: 8%;
    background-color: $white;
    border-radius: 0.75rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0.5rem;
    margin-top: 4px;
    margin-right: 8px;
}

.third-message {
    width: 60%;
}

.fourth-message {
    width: 40%;
}

.third-message p,
.fourth-message p {
    margin: 0;
    color: $desaturatedDarkViolet;
}

.audio {
    width: 70%;
    height: 7%;
    border-radius: 0.6rem;
    border-bottom-left-radius: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, $lightMagenta, $lightViolet);
    margin: 4px 0;
    margin-left: 8px;
}

.audio p:first-child {
    font-size: 0.4rem;
    color: $white;
    font-weight: 400;
    margin-left: 2rem;
}

.audio p:last-child {
    font-size: 0.7rem;
    font-weight: bold;
    color: $white;
    margin-right: 1rem;
}

.chat-input-container {
    width: 90%;
    height: 2rem;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    margin: 0 auto;
}

.chat-input-container p {
    margin: 0;
    font-size: 0.5rem;
    color: $grayishBlue;
    margin-left: 1rem;
}

.chat-input-container .send-button {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $veryDarkDesaturatedViolet;
    border-radius: 100%;
    margin-right: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-input-container .send-button span {
    border: 1px solid $white;
    border-width: 0 0 3px 3px;
    border-radius: 0.1rem;
    width: 8px;
    height: 8px;
    font-size: 0;
    transform: rotate(225deg);
    margin-right: 2px;
}

.description {
    position: absolute;
    bottom: 5rem;
    padding: 0 1.5rem;
}

.description h1 {
    color: $veryDarkDesaturatedViolet;
    font-weight: 500;
}

.description p {
    font-size: 0.9rem;
    line-height: 25px;
    color: $darkGrayishViolet;
}

.description h1,
.description p {
    text-align: center;
}